@{
    ViewData["Title"] = "Skills";
}
<body>
    <div class="bodySkills">
        <div class="skills">
            <div class="skill">
                <div class="skillName">C#</div>
                <div class="skillBar">
                    <div class="skillPer" per="50%" style="max-width: 50%"></div>
                </div>
            </div>
            <div class="skill">
                <div class="skillName">ASP.NET</div>
                <div class="skillBar">
                    <div class="skillPer" per="50%" style="max-width: 50%"></div>
                </div>
            </div>
            <div class="skill">
                <div class="skillName">Angular JS</div>
                <div class="skillBar">
                    <div class="skillPer" per="50%" style="max-width: 50%"></div>
                </div>
            </div>
            <div class="skill">
                <div class="skillName">HTML</div>
                <div class="skillBar">
                    <div class="skillPer" per="40%" style="max-width: 40%"></div>
                </div>
            </div>
            <div class="skill">
                <div class="skillName">CSS</div>
                <div class="skillBar">
                    <div class="skillPer" per="40%" style="max-width: 40%"></div>
                </div>
            </div>
        </div>
    </div>
</body>